body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh; /* 確保容器佔據整個視窗高度 */
}

.left-panel {
    width: 700px; /* 左側固定寬度 */
    padding: 20px;
    box-sizing: border-box;
}

.right-panel {
    flex: 1; /* 右側佔據剩餘寬度 */
    padding: 18px;
    box-sizing: border-box;
    background-color: #fff;
}

.input-row {
  display: flex; /* 使用 Flexbox 佈局 */
  align-items: center; /* 垂直居中 */
}

.input-row input[type="number"],
.input-row button {
  margin-right: 10px; /* 調整元素之間的間距 */
}

#subject-select, #minutes-input {
    margin-bottom: 10px;
    padding: 8px;
}

/* 統一按鈕樣式 */
#start-button, #pause-button {
  background-color: #4CAF50; /* 設定背景顏色 */
  border: none; /* 移除邊框 */
  color: white; /* 設定文字顏色 */
  padding: 10px 20px; /* 設定內邊距 */
  text-align: center; /* 文字居中 */
  text-decoration: none; /* 移除底線 */
  display: inline-block; /* 設定為行內區塊元素 */
  font-size: 16px; /* 設定文字大小 */
  margin: 4px 2px; /* 設定外邊距 */
  cursor: pointer; /* 滑鼠游標變為手指 */
  border-radius: 5px; /* 設定圓角 */
}

/* 滑鼠懸停時的樣式 */
#start-button:hover,
#pause-button:hover {
  background-color: #3e8e41; /* 更深的背景顏色 */
}


#display-area {
    margin-top: 16px;
    text-align: center;
}

#countdown-timer {
    font-size: 14em;
    font-weight: bold;
}

/* 放大文字並佔據九成寬度 */
#display-area p {
    font-size: 5em; /* 調整文字大小 */
    width: 100%; /* 佔據九成寬度 */
    margin: 0 auto; /* 水平居中 */
    word-wrap: break-word; /* 防止文字溢出 */
}
