body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh; /* 確保容器佔據整個視窗高度 */
}

.left-panel {
    width: 600px; /* 左側固定寬度 */
    padding: 20px;
    box-sizing: border-box;
}

.right-panel {
    flex: 1; /* 右側佔據剩餘寬度 */
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

#subject-select, #minutes-input, #start-button {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

#display-area {
    margin-top: 20px;
    text-align: center;
}

#countdown-timer {
    font-weight: bold;
}

#display-area p {
    margin: 0 auto;
    font-weight: bold;
    word-wrap: break-word;
}
